body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#data {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.account-form {
    h2 {
        text-align: center;
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}